POSTGRES_USER=pera
POSTGRES_PASSWORD=pera_dev_password
POSTGRES_PORT=5432
FRONTEND_PORT=5173
PERA_JWT_SECRET=replace-with-at-least-32-random-characters
PERA_BOOTSTRAP_ADMIN_PASSWORD=ChangeMe123!
CORS_ALLOWED_ORIGINS=http://localhost:5173
